/*
  Global App CSS
  ----------------------
  Use this file for styles that should be applied to all components.
  For example, "font-family" within the "body" selector is a CSS property
  most apps will want applied to all components.

  Any global CSS variables should also be applied here.
*/
@import '~@d4l/web-components-library/dist/d4l-ui/d4l-ui.css';

:root {
  --font-family-secondary: 'Montserrat';
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: linear-gradient(304deg, rgba(255,109,222,0), rgba(120,95,106,0.6));
  font-family: var(--font-family-secondary);
  min-height: 100vh;
}

a {
  color: currentColor;
}

.wrapper {
  max-width: 675px;
  margin: auto;
}
