/* Footer */
.app-footer a {
  cursor: pointer;
  color: var(--color-neutral);
  font-weight: var(--link-font-weight);
  text-decoration: none;
}

.app-footer a:hover,
.app-footer a:focus {
  text-decoration: underline;
}

.app-footer .app-footer__item--active {
  color: var(--color-secondary);
}

.copyright-info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyright-info svg {
  display: block;
  height: 1.5em;
  margin: 0 3px;
  fill: var(--color-neutral);
}

.copyright-info svg:hover {
  fill: var(--color-primary);
}
