.app-footer {
  margin: 45px auto 0;
  padding: var(--space-s);
  width: var(--widescreen);
  max-width: 100%;
  color: var(--color-neutral);
}

.app-footer ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
}

.app-footer ul li {
  display: flex;
  flex-basis: 100%;
  justify-content: center;
  color: var(--color-neutral);
  margin-bottom: var(--space-m);
}

.app-footer a {
  cursor: pointer;
  color: var(--color-neutral);
  font-weight: var(--link-font-weight);
  text-decoration: none;
}

.app-footer a:hover,
.app-footer a:focus {
  text-decoration: underline;
}

.app-footer .app-footer__item--active {
  color: var(--color-secondary);
}

.copyright-info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyright-info svg {
  display: block;
  height: 1.5em;
  margin: 0 3px;
  fill: var(--color-neutral);
}

.copyright-info svg:hover {
  fill: var(--color-primary);
}

@media screen and (min-width: 768px) {
  .app-footer ul {
    flex-flow: row nowrap;
    max-width: 800px;
  }
}
