.copyright-info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyright-info svg {
  display: block;
  height: 1.5em;
  margin: 0 3px;
  fill: var(--color-neutral);
}

.copyright-info svg:hover {
  fill: var(--color-primary);
}
